.navBtn, table, .tblHead{
  background-color: #fff;
  box-shadow: 0 6px #c3c3c3;
  border-radius: 5px;
  color: #aaa;
  padding:18px;
  font-family:"Endless Boss Battle", sans-serif;
  font-size:17px;
  line-height:1.3;
}

.navBtn{
  padding: 10px;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

table{
  margin: auto;
  margin-bottom:20px;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.tblHead{
  display: inline-block;
  padding: 15px;
  margin-bottom: 50px;
  color:#3a3a3a;
  font-size:22px;
  font-weight:400;
  line-height:1.2;
}

.board{
  display: inline-block;
  max-width: 500px;
}

#space{
  display: block;
  height: 50px;
}

#space2{
  display: inline-block;
  width: 15px;
}

td, th{
  padding: 10px;
  margin: 0px;
}

.nameCell{
  max-width: 460px;
  white-space: nowrap;
  overflow: hidden;
  max-height: 25px;
  height: 25px;
}

tr:first-child td:first-child, tr:first-child th:first-child { border-top-left-radius: 3px; }
tr:first-child td:last-child,  tr:first-child th:last-child  { border-top-right-radius: 3px; }
tr:last-child  td:first-child, tr:last-child  th:first-child { border-bottom-left-radius: 3px; }
tr:last-child  td:last-child,  tr:last-child  th:last-child  { border-bottom-right-radius: 3px; }

tr:hover, th{
  background-color: #c3c3c3;
  color:#3a3a3a;
}

.navBtn:hover, .navBtn.selected{
  background-color: #c3c3c3;
  color: #3a3a3a;
}

.navBtn:active{
  left: 2px;
  top: 5px;
  box-shadow: 0 0 #155a1c;
}
.active {
  background-color: #000 !important;
  color:#3a3a3a;
  }

#navBar{
  margin: 0 auto;
  display: block;
}

#backBtn{
  position: fixed;
}

@media (max-width: 700px){
  #backBtn{
    position: static;
  }
}